<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Louisville Kendo Club</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-dark fixed-top" style="background-color: #3d5b95;">
        @Html.ActionLink("Louisville Kendo Club", "Index", "Home", null, new { @class = "navItem" })
        <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar4">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="collapsingNavbar4">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navItem" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home", null, new { @class = "navItem" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "navItem" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Club Members", "Index", "ClubMember", null, new { @class = "navItem" })
                </li>
            </ul>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <!--  Footer -->
        <footer class="main-footer">
            <div class="container-fluid">
                <div class="footer">
                    <div class="row">

                        <div class="col">
                            <p><strong>Louisville Kendo Club</strong><br>1932 Production Dr<br>Louisville, KY 40205</p>
                        </div>

                        <div class="col">
                            <div class="d-flex justify-content-end">
                                <a href="index.html"><img src="@Url.Content("~/Content/MyImg/other/")LKC_logo_green.png" style="width:75px; height:75px;"></a>
                                <a href="http://auskf.org/"><img src="@Url.Content("~/Content/MyImg/other/")auskfLogo.gif" style="width:75px; height:75px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
